<div class="container">
    <div class="header">
        MIA Works
    </div>
    <div class="main">
        <div class="controls">
            <div class="search-container">
                <input placeholder="Search..." class="search" ng-model="search" ng-model-options="{debounce: 300}" />
            </div>
            <div class="button-container">
                <button class="btn btn-default" ng-click="loadPaintings()">Paintings</button>
            </div>
            <div class="page-controls-container">
                <dir-pagination-controls class="page-controls"></dir-pagination-controls>
            </div>
        </div>
        <table class="table">
            <thead>
                <th ng-click="sortBy('id')">
                    ID
                </th>
                <th ng-click="sortBy('title')">
                    Title
                </th>
                <th ng-click="sortBy('artist')">
                    Artist
                </th>
                <th ng-click="sortBy('text')">
                    Description
                </th>
                <th>
                    <!-- image -->
                </th>
                <th ng-click="sortBy('score')">
                    Score
                </th>
                <th ng-click="sortBy('magnitude')">
                    Magnitude
                </th>
            </thead>
            <tbody>
                <tr dir-paginate="work in works | orderBy: sort_category : reverse | filter: search | itemsPerPage: 20">
                    <td>
                        {{work.id}}
                    </td>
                    <td>
                        {{work.title}}
                    </td>
                    <td>
                        {{work.artist}}
                    </td>
                    <td>
                        {{work.text}}
                    </td>
                    <td>
                        <img class="thumbnail" ng-src="{{work.image_url}}" />
                    </td>
                    <td>
                        <div ng-show="work.score">
                            {{work.score | number: 2}}
                        </div>
                        <div ng-show="!work.score">
                            <button ng-click="scoreWork(work.id)" class="btn btn-default">Score</button>
                        </div>
                    </td>
                    <td>
                        {{work.magnitude | number: 2}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="footer">

    </div>
</div>
