<div class="container">
    <div class="header">
        Rate a Work
    </div>
    <div class="main">
        <div class="button-container">
            <button ng-click="load()" class="btn btn-default">Get Another Work</button>
        </div>
        <div class="painting-container">
            <img class="painting" ng-src="{{painting.image_url}}" />
        </div>
    </div>
    <div class="footer">
        <div class="rating-container">
            <button ng-class="{active: present('bored')}" class="btn btn-default" ng-click="select('bored')">Bored</button>
            <button ng-class="{active: present('depressed')}" class="btn btn-default" ng-click="select('depressed')">Depressed</button>
            <button ng-class="{active: present('sad')}" class="btn btn-default" ng-click="select('sad')">Sad</button>
            <button ng-class="{active: present('upset')}" class="btn btn-default" ng-click="select('upset')">Upset</button>
            <button ng-class="{active: present('nervous')}" class="btn btn-default" ng-click="select('nervous')">Nervous</button>
            <button ng-class="{active: present('tense')}" class="btn btn-default" ng-click="select('tense')">Tense</button>
            <button ng-class="{active: present('alert')}" class="btn btn-default" ng-click="select('alert')">Alert</button>
            <button ng-class="{active: present('excited')}" class="btn btn-default" ng-click="select('excited')">Excited</button>
            <button ng-class="{active: present('happy')}" class="btn btn-default" ng-click="select('happy')">Happy</button>
            <button ng-class="{active: present('contented')}" class="btn btn-default" ng-click="select('contented')">Contented</button>
            <button ng-class="{active: present('serene')}" class="btn btn-default" ng-click="select('serene')">Serene</button>
            <button ng-class="{active: present('relaxed')}" class="btn btn-default" ng-click="select('relaxed')">Relaxed</button>
        </div>
        <div class="submit-container">
            <button ng-click="rate()" class="btn btn-success">Rate</button>
            <button ng-click="vision()" class="btn btn-info">Vision</button>
        </div>
    </div>
</div>
